apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
type: Opaque
stringData:
  POSTGRES_USER: production_user
  POSTGRES_PASSWORD: CHANGE_ME_PROD_PASSWORD
  POSTGRES_DB: money_tracker_prod
